<div id="container">


<div class="row content" id="admin-page">
<div class="col-md-12">
  <div class="row">
     <h3>Hello Admin</h3>
      <ul id="admin-task-list">
        <div class="editOrderStatus">
          <a href="/admin/products" class="btn btn-default btn-sm">Products</a>
          <a href="/admin/categories" class="btn btn-default btn-sm">Categories</a>
          <a href="/admin/orders" class="btn btn-default btn-sm">Orders</a>
          <a href="/admin/users" class="btn btn-default btn-sm">Users</a>
        </div>


      </ul>

<ui-view></ui-view>


</div>
</div>
