<div id="container">


<div class="row content" id="user-admin">

<div class="col-md-12">
       <div class="row">


<div class="col-md-10">
  <div>
    <input type='text' ng-model=orderStatusFilter placeholder="Status to Filter By" id="statusSearchFilter">
  </div>
  <br>
  <ul class="price-list list-group">
      <div class="list-group-item" ng-repeat="order in orders | filter:orderStatusFilter" class="items-holder">
          <h4>Order Number: {{order._id}} </h4>
          <h5>Customer: {{order.user}} </h5>
          <strong class="importnat">{{order.status}}</strong>
          <h5>Purchase Date: {{order.purchaseDate}}</h5>
          <div ng-repeat="product in order.products" class="items-holder">
              <a><strong>{{product.quantity}}</strong> {{product.product.name}}  X  $ {{product.price}}</a>
          </div>
          <div class="editOrderStatus">
          <button ng-click="changeStatus(order, 'pending')" ng-class="{currentStatus : checkOrderStatus(order, 'pending')}" class="btn btn-default btn-xs">Pending</button>
          <button ng-click="changeStatus(order, 'purchased')" ng-class="{currentStatus : checkOrderStatus(order, 'purchased')}" class="btn btn-default btn-xs">Purchased</button>
          <button ng-click="changeStatus(order, 'processing')" ng-class="{currentStatus : checkOrderStatus(order, 'processing')}" class="btn btn-default btn-xs">Processing</button>
          <button ng-click="changeStatus(order, 'cancelled')" ng-class="{currentStatus : checkOrderStatus(order, 'cancelled')}" class="btn btn-default btn-xs">Cancelled</button>
          <button ng-click="changeStatus(order, 'completed')" ng-class="{currentStatus : checkOrderStatus(order, 'completed')}" class="btn btn-default btn-xs">Completed</button>
          </div>
      </div>
  </ul>
</div>

<div class="pagination-holder">
   </div>


   </div>
   </div>
</div>
</div>
