<div id="cart-content">
    <h1 class="col-md-12">Thank you {{currentUser.firstName || currentUser.email}}, your order has been purchased</h1>
    <h4 class="col-md-8"> We've sent a confirmation email to {{currentUser.email || 'you'}}. </h4>
        <div class="col-md-10">
            <ul class="price-list list-group">
                <div ng-repeat="product in products" class="items-holder">
                    <a><strong>{{product.quantity}}</strong> {{product.product.name}}  X  $ {{product.product.price }}</a>
                </div>
                <strong><li class="list-group-item important">{{total}}</li></strong>
            </ul>
        </div>
        <button ui-sref="home">Go Home </button>
</div>

