<div id="container">
  <div>
  <div class="col-md-6 col-md-offset-3">
    <p id="title-p-d">{{product.name}}</p>
      <div class="form">
        <div class="field-row" id="contact-form">

          <div ng-init="rating = 3"></div>

          <star-rating class="star-rating" rating-value="rating" ></star-rating>
          <br>

          <textarea rows="10" ng-model="reviewContent" class="required md-input form-control" placeholder="Write your reivew here" value="" name="review_text" id="review_text"></textarea>
          <span class="error"></span>
        </div>
        <input type="submit" class="btn-default btn" value="Submit" ng-click="saveReview(product._id)"/>
      </div>
  </div>
  </div>
</div>

